/* Hero (Descrição brevia) */
.hero {
    padding: 80px 0;
}

.hero .container h1 {
    color: var(--color-primary);
}


/* Slides */
.destaque {
    margin: 40px 0;
    background-color: var(--color-primary);
}

.destaque .container {
    padding: 30px 30px 80px;
}

.carousel {
    max-width: 1200px;
    margin: 0 auto;
}


/* Categorias */
.categorias {
    background-color: var(--color-surface);
    padding: 80px 0 40px;
    position: relative;

    /* Sobreposição intencional ao carousel acima */
    margin-top: -38px;
}

.categorias ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 36px;

    list-style: none;
    padding: 0;
}

.categorias li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-width: 80px;
}

.categorias li img {
    width: 100px;
    height: 100px;
    background-color: var(--color-surface);
    border-radius: 50%;
    padding: 15px;

    margin-top: -130px;

    /* transition: 0.3s ease; */
}

/* .categorias li:hover img {
    transform: scale(1.08);
} */

.categorias span {
    margin-top: 10px;
    font-weight: 700;
    color: var(--color-primary);
    font-family: var(--font-subtitle);
}

@media (max-width: 425px) {
    .categorias ul {
        justify-content: space-evenly;
        gap: 10px;
    }
    .categorias li {
        min-width: 10px;
    }
    .categorias li img {
        width: 60px;
        height: 60px;
        padding: 10px;

        margin-top: -110px;
    }
    .categorias span {
        font-size: 12px;
    }
}



/* Sobre */
.sobre {
    background-color: var(--color-surface);
    padding: 60px 20px;
}

